body
{
    margin: 0;
    background: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
}

#header
{
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
#intro
{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

/* keys 
===================*/
#name
{
    text-align: center;
    text-transform: uppercase;
    color: #FFAD40;
    margin-bottom: 35px;
}
#fields
{
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
#references
{
    position: relative; 
    margin: 0 auto;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#buttons
{
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}


/* fields
============== */
#fieldsBlock
{
margin-bottom: 10px;
text-align: center;

}
#labelFields
{
    display: inline-block;
    margin-bottom: 10px;
    margin: 0 auto;
    font-size: 30px;
    width: 80%;
}
#inputFields
{
    display: inline-block;
    width: 80%;
    height: 40px;
    font-size: 15px;
}
#selectFields
{
    margin-bottom: 10px;
    width: 80%;
    height: 60px;
    text-align: center;
}

/* references
=========== */
#referencesBlock
{
    margin-bottom: 10px;


}
#inputReferences
{
    
}
a
{
    text-decoration: none;
    display: inline-block;
    color:black;
    text-decoration: none;
    padding: 6px 25px;
    margin-bottom: 10px;
    background-color: #8e918d;   

    transition: color .5s linear;
}


.controlBtn
{
    text-decoration: none;
    
    
}


/* media
=============== */
@media (max-width: 767.98px) { 
       
    .body
    {
        width: 100%;
    }
    #intro
    {
        width: 100%;
    }
    #inputFields
    {   
    width: 80%;
    }  
    
}

@media (max-width: 575.98px) { 
       
   .body
    {
        width: 100%;
    }
    #intro
    {
        width: 100%;
    }
    #inputFields
    {   
    width: 80%;
    }  
    
}
@media (max-width: 975.98px) { 
       
    .body
    {
        width: 100%;
    }
    #intro
    {
        width: 100%;
    }
    #inputFields
    {   
    width: 80%;
    }      
    
}